body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:linear-gradient(#00000000, #012b4d66), url('../img/backgroundDesktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login__container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login__logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.login__form .login__input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login__form .login__label {
    margin-right: 10px;
}

.login__form .login__input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, 0.988);
    border-radius: 5px;
}

.login__form .login__input:focus{
    outline:none;
}

.login__form .login__button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f04f3f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login__form .login__button:hover {
    background-color: #d94334;
}

.login__links {
    margin-top: 15px;
}

.login__link {
    color: #f04f3f;
    text-decoration: none;
    font-size: 14px;
}

.login__link:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {

    body{
        background-image:linear-gradient(#00000000, #012b4d66), url('../img/backgroundMovil.png');
        background-position: center;
    }

    .login__container{
        display: flex;
        height: 60%;
        width: 70%;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .login__form{
        display: flex;
        width: 90%;
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .login__button{
        width: 90%;
    }

    .login__logo img{
        width: 100px;
        height: 100px;
    }

    .login__label svg{
        display: none;
    }
    
    .login__form .login__input{
        text-align: center;
    }
}